<!-- Modal -->

<div class="modal fade" id="ModalNotifications" tabindex="-1" role="dialog" aria-labelledby="ModalNotificationsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <div class="d-flex justify-content-center">
                <img src="../../../../assets/images/info.png" alt="user">
            </div>
            <p class="ClBlue ">{{title}}</p>
            <p class="ClBlue ">{{text}}</p>
            <div class="botonera">

                  <button class="btn BgYellow ClBlue" (click)="close()">Cerrar</button>
            </div>
        </div>
        
      </div>
    </div>
</div>
