.loading{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.7);
    z-index: 10;
}

.box-loading{
    width: 300px;
    background-color: transparent;
    height: 100px;
    margin: 200px auto;
    padding: 50px;
    box-sizing: content-box;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
p.message {
     -webkit-animation: flickerAnimation 2s infinite;
     -moz-animation: flickerAnimation 2s infinite;
     -o-animation: flickerAnimation 2s infinite;
      animation: flickerAnimation 2s infinite;
}

p.message{
    width: 100%;
    text-align: center;
    font-family: 'monserrat-bold';
    color: #939393;
    font-size: 22px;
}